* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: #2F70AF;
    padding: 10px;
    margin: 0 auto;
}

.content {
    margin: 10px auto;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
}

/* all styles */

#censor,
#showcase,
#spoiler,
#todo,
#todoServer {
    display: none;
}

.box {
    width: 100%;
    max-width: 550px;
    background: #02315E;
    margin: 10px auto 0px;
    padding: 20px 20px 30px;
    border-radius: 10px;
    text-align: center;
}

#main .box {
    max-width: 1110px;
}

#main .text span {
    font-weight: 700;
}

.text p {
    margin-bottom: 7px;
}

h1 h2 {
    text-align: center;
    margin: 10px;
}

header {
    margin: 30px auto;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

.projects-btn {
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #B9848C;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px;
}

.projects-btn:hover {
    background: #91676d;
}

.text {
    text-align: left;
    font-style: italic;
    margin-top: 10px;
    font-size: 18px;
}

.columns {
    justify-content: space-between;
    text-align: center;
}

.input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #806491;
    border-radius: 30px;
    padding-left: 20px;
    margin: 15px 0;
}

.input-area:hover {
    background-color: #604b6d;
}

#new-comment,
#new-replacement,
#new-task,
#new-todo {
    flex: 1;
    border: none;
    border-radius: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #fff;
}

#new-comment::placeholder,
#new-replacement::placeholder,
#new-task::placeholder,
#new-todo::placeholder {
    color: #d4d4d4;
    font-style: italic;
}

/* todo styles */

.add-btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #B9848C;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.add-btn:hover {
    background: #91676d;
}

#comment-list,
#replacement-list,
#all-tasks{
    list-style: none;
    font-size: 20px;
    padding: 0 0 10px;
    user-select: none;
    position: relative;
    color: #fff;
    margin: 10px 0;
}

#delete-img {
    padding: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    left: 90%;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
    background-color: #2F70AF;
}

#delete-img:hover {
    border-radius: 40px;
    background-color: #2F70AF;
}

/* showcase styles */

.shop {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    background-color: #806491;
}

.product:hover {
    background-color: #604b6d;
}

.product h2 {
    margin: 0;
}

hr {
    margin: 5px 0;
}

.price {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 1px;
}

.product-btn {
    padding: 0.5rem 1rem;
    background-color: #B9848C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-btn:hover {
    background-color: #91676d;
}

#basket-items {
    display: flex;
    align-items: center;
}

.basket-list {
    list-style: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.basket-list li {
    text-decoration: underline;
    padding: 10px;
    border-radius: 40px;
    margin: 5px auto;
}

.basket-list li:hover {
    background-color: #2F70AF;
}

.basket h3 {
    margin-top: 5px;
}

/* spoiler styles */

#myBtn {
    padding: 0.5rem 1rem;
    background-color: #B9848C;
    border: none;
    border-radius: 5px;
}

#myBtn:hover {
    background-color: #91676d;
}

.closed {
    display: none;
    text-align: center;
    padding: 1rem;
}

form {
    width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input,
form select {
    padding: 0.5rem 1rem;
}

input[type="text"] {
    width: 100%;
}

form>button {
    cursor: pointer;
    background-color: #B9848C;
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
}

form>button:hover {
    background-color: #91676d;
}

#todo-list ul {
    list-style: none;
    width: 500px;
    margin: 2rem auto;
    padding: 0;
}

.todo-item {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
}

.todo-text {
    flex-grow: 1;
}

.close {
    color: red;
    cursor: pointer;
    font-weight: bolder;
}

.close:hover {
    color: tomato;
}


#new-todo {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #806491;
    border-radius: 30px;
    padding-left: 20px;
}

form select {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: none;
    outline: none;
    background: transparent;
    color: #fff;
    background: #806491;
}

form select::placeholder {
    color: #d4d4d4;
    font-style: italic;
}

form select::-ms-expand,
form select::-webkit-select {
    display: none;
}


form select:hover {
    background-color: #604b6d;
}